.nav-container{
    background-color: #E2E1E1;
    width : 180px;
    height : 100vh;
    float : left;
}

.nav-ul{
    padding-left : 1.2rem;
    list-style-type: none;
    margin-top : 4rem;    
}

.nav-li{     
    text-align: start;
    padding : 1.5rem 1.5rem 1.5rem 0rem;
    font-family: Verdana;    
}

.nav-li:hover{
    font-size : 1.08rem;
    cursor: pointer;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color : inherit;
}

